.service-item-inicio {
    position: relative;
    padding: 45px 30px;
    background: #fff;
    overflow: hidden;
    transition: .5s;
}

.service-item-inicio:hover {
    margin-top: -15px;
    padding-bottom: 60px;
    background: #198754;
}

.service-item-inicio h5,
.service-item-inicio p {
    transition: .5s;
}

.service-item-inicio:hover h5,
.service-item-inicio:hover p {
    color: #fff;
}

.service-item-inicio a.btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: #6c757d;
    background: #FFFFFF;
    border-radius: 40px 40px 0 0;
    transition: .5s;
    z-index: 1;
}

.service-item-inicio a.btn:hover {
    color: #fff;
    background: #6c757d;
}

.service-item-inicio:hover a.btn {
    bottom: 0;
}